%div
  %p I have CoffeeScript! On heroku!

  :coffee_script
    reverse: (string) ->
      string.split('').reverse().join ''
    
    alert reverse '!skrow tpircseeffoC'

  %a{:href => "/source"} view source